/* Root */
:root {
  --textAlt: #A3CFCF;
  --bg: #68A6A6;
  --accent: #D2FAFA;
  --accent2: #387A7A;
  --accent3: #174F4F;
  --accent4: #063333;
  --text5: #07f6c6;
}
/* Root ^*/
body {
  background: linear-gradient(180deg, var(--accent4), var(--bg));
  color: var(--textAlt);
  font-family: 'Times New Roman', Times, serif;
} #title {
  border: var(--text5) 4px solid;
  border-radius: 1rem;
  padding: 15px;
} .aboutHeader{ 
   display: flex;
  justify-content: space-around;
  align-items: center;
} .aboutNav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  margin-right: 1rem;
} .aboutLogo{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 100px;
} a {
  color: var(--textAlt);
  font-size: x-large;
} .aboutContent{
  display: flex;
  border: var(--text5) 4px solid;
} .mission{
  display: flex;
  flex-direction: row;
  border: var(--text5) 2px solid;
  border-top: none;
  border-left: none;
  padding: 10px;
} .team{
  display: flex;
  flex-direction: row;
  border: var(--text5) 2px solid;
  border-top: none;
  border-right: none;
  padding: 10px;
} .teamImage{
  display: flex;
  width: 250px;
  height: 250px;
  flex-direction: row;
} footer .images {
  display: flex;
  justify-content: right;
  gap: 25px;
} footer .texts{
  display: flex;
  justify-content: center;
  gap: 25px;
}