/* Root */
:root {
  --textAlt: #A3CFCF;
  --bg: #68A6A6;
  --accent: #D2FAFA;
  --accent2: #387A7A;
  --accent3: #174F4F;
  --accent4: #063333;
  --text5: #07f6c6;
}

body {
  background: linear-gradient(180deg, var(--accent4), var(--bg));
  color: var(--textAlt);
  font-family: 'Times New Roman', Times, serif;
} header {
  display: flex;
  border: var(--text5) 4px solid;
  border-radius: 1rem;
  padding: 15px;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
} nav {
  display: flex;
  justify-content: center;
  font-size: x-large;
  gap: 15px;
  margin-right: 1rem;
  margin: 1rem;
} a {
  color: var(--textAlt);
} h3{
  color: white;
} .cardContainer {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 25px;
  flex-wrap: wrap;
  border: var(--text5);
} .card {
  flex: 1 1 450px;
} .card img{
  width: 250px;
  height: 250px;
} .productImages {
  display: flex;
  gap: 25px;
  justify-content: right;
} .productImages img {
  width: 25px;
  height: 25px;
}.productTexts{
  display: flex;
  justify-content: center;
  gap: 25px;
}
/* Large Media */
@media (min-width: 769px) and (max-width: 1200px){
    .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 15px;
  } .card img {
    width: 15rem;
    height: 17.5rem;
  } .card h3 {
    width: 15rem;
    height: 10rem;
  }
}
/* 
}
/*  Tablet Media  */
@media (max-width: 768px) and (min-width: 481px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 15px;
  }
  .card img {
    width: 12.5rem;
    height: 12.5rem;
  }
}
/* Mobile Media */
@media (max-width: 480px){
    .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 15px;
  }
  .card img {
    width: 15rem;
    height: 15rem;
  } nav{
    flex-direction: column;
    align-items: center;
  }.card img{
    width: 150px;
  } h3 {
    font-size: medium;
  }  .productImages {
  gap: 25px;
  justify-content: center;
  } .productImages img {
  width: 25px;
  height: 25px;
  }.productTexts{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}